<div class="todoList">
    <div class="checkAddTask">
        <img src="./../../../assets/images/grip-vertical.svg" >
        <input disabled name="checkAddTask" type="checkbox">
        <input  type="text" name="newTaskName" (keyup.enter)="addTaskToList($event)" placeholder="Create a new to do" id="newTaskName">
    </div>
    <!-- *ngFor -->
    <div class="tasklistWrapper">
        <ul
        cdkDropList
        [cdkDropListData]="taskList"
        (cdkDropListDropped)="drop($event)">

          <li
            cdkDrag
            *ngFor="let i of taskList;index as y"
            [cdkDragData]="i"
            class="task">

             <img src="./../../../assets/images/grip-vertical.svg" cdkDragHandle>
             <input
              id="checkAddTask"
              type="checkbox"
              [(ngModel)]="i.checked"
              (click)="updateTask(i.id)"
              >

             <input
              id="inputAddTask"
              [(ngModel)]="i.description"
              type="text"
              [ngClass]="{'inputTask-checked':i.checked,'inputTask':!i.checked}"
              [disabled]="i.checked"
              [value]="i.description"
              #inputTask>

              <button (click)="removeTask(i.id)"><img src="./../../../assets/images/icon-cross.svg" alt="Fechar"></button>
            </li>
            <div class="footer">
             {{ numberTaskCompleted()+'/'+taskList.length}} ALL <button (click)="activeAll()">Complet</button>  <button (click)="removeAllCompleted()" >ClearComplet</button>
            </div>

        </ul>
    </div>
</div>
